.butt_menu {
    background-color: rgb(210, 232, 247);
    border: 1px solid #9fbfdf;
    width: 240px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 5px 15px;
    border-radius: 1px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: inline-block;
 }

.butt_menu:hover {
    background-color:#b3cce6;
}