
.my-table-div{
    margin-bottom: 0px; 
    margin-top: 0px;
    background-color: green; 
    height: 0px;
  }


  .my-timeline-div {
    margin-bottom: 0px; 
    margin-top: 1000px; 
    
  }



  .my-text-div {
    margin-top: 260px; 
  }