ul li {
  list-style: georgian;
}

.App {
  text-align: center;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  margin-top: 1%;
  margin-left: 10%;
  width: 90%;
  height: 99%;

  grid-template-columns:  14fr 3fr;
  grid-template-rows: 10px 10fr;
  /*grid-gap:10px;*/
}